h1
h2,
h3,
h4,
h5 
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: large;
}

Body{
display:flex;
justify-content:center;
background: url("../img/loading.gif") no-repeat center center;
background-size: cover;
}

section{
display:flex;
margin-top: 30%;
font-display: flex;
flex-direction: column;
align-items: center;
border-width: 2px;
background-color:  rgb(7, 109, 177) ;
padding-left: 50px;
padding-right: 50px;
border-radius: 5px;
border-style:solid;
border-color: black;
}
section, h2{
  color:white;

}

.container-panel{
  background-color: rgb(7, 109, 177) ;
  border-radius: 5px;
  border-style:solid;
  border-color: black;
  margin-top: 10%;
}

.container-panel,h1{
color:white;
}
.button{
margin-top: 20px;
background-color:black;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
color:white;
cursor: pointer;
border-radius: 5px;
}
.button :hover{
background-color: blue;
transition: 0.3 ease;

}
.button, a{
color: white;
cursor: pointer;
text-decoration: none;
}